/* SETTING */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0d192e;
}

.container {
    position: relative;
    display: flex;
    align-self: center;
    width: 100%;
    max-width: 1100px;
    height: 600px;
    margin: 20px;
    background: #122647;
}

.spaceB {
    justify-content: space-between;

}
i {
    cursor: pointer;
}

h2 {
    margin-bottom: 40px;
    font-size: 2em;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
}

/* DIV CONFERMA REGISTRAZIONE  */

#confirm {
    display: none;
}

#confirm.active{
    position: absolute;
    top: 4%;
    left: 5%;
    display: inline-block;
    width:45%;
    padding: 20px;
    font-size:16px;
    line-height: 1.5;
    -webkit-box-shadow: 0px 0px 20px -7px rgba(27,250,173,.8);
    -moz-box-shadow: 0px 0px 20px -7px rgba(27,250,173,.8);
    box-shadow: 0px 0px 20px -7px rgba(27,250,173,.8);
}

#confirm p, #confirm a{
    color: rgba(27, 250, 173,0.8);
}

#confirm .inline {
    display: inline-block;
    padding-left: 8px;
}

#confirm i {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;  
    color: #1bfaad;
    z-index: 10;
}

/* CONTAINER FORM */

.container .formBx {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.formBx.small {
    width: 25%;
}

/* FORM */
.container .formBx form, .form {
    position: relative;
    width: 100%;
    padding: 0 0 0 75px;
}

.form h2 {
    margin-bottom: 100px;
}

/* CONTAINER INPUT */
.inputBox {
     position: relative;
     margin-bottom: 40px;
 }

.container .formBx form .inputBox:last-child {
    margin-bottom: 0px;
}

/* INPUT SELECT SUBMIT*/
input, select {
    position: relative;
    width: 100%;
    padding-bottom: 10px;
    font-size:16px;
    font-weight: 300;
    letter-spacing: 1px;
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(255,255,255,0.5);
    color: #fff;
    background: transparent;
}

.inputBox input:focus, .inputBox input:valid,
select:focus {
    border-bottom-color: #fff;
    padding: 10px 10px 10px 20px;
    font-weight: 500;
}

select {
    color: rgba(255,255,255,0.5);
}
select:active, select:focus{
    background-color: #122647;
    color: #fff;
}

.inputBox input[type="submit"] {
    margin-top: -10px;
    padding: 8px 20px;
    font-size: 18px;
    font-weight: 500 ;
    text-transform: uppercase;
    letter-spacing: 4px;
    border: none;
    color: rgb(201, 42, 21);
    background: peachpuff;
    cursor: pointer;
}
  .inputBox input[type="submit"]:hover {
      font-weight: 700;
  }
.inputBox input[type="submit"]:active {
    background: #1bfaad ;
    color: #111;
}

.container .formBx .form .inputBox input[type="submit"] {
    width: 100%;
}

/* SPAN */

span {
    position: absolute;
    left: 0;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    color: rgba(255,255,255,0.5);
    pointer-events: none;
    transition: all 0.2s;
}

input:focus ~ span , #form input:valid ~ span {
    font-size: 14px;
    transform: translateY(-24px);
    color:  #1bfaad;
}

/* CONTAINER IMG || TABLE */

.box {
    position: relative;
    width: 50%;
    overflow: hidden;
}

/* IMG */
.img:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 218, 185, .4);
    transform-origin: bottom;
    transform: skewX(-25deg) translateX(10%);    
}

.box img {
    position: absolute;
    bottom: 0;
    width: 118%;
    max-height: 95%;
}

/* TABLE */
.box.table {
    width: 75%;
    max-height: 550px;
    padding: 60px 40px 60px 180px;
    overflow-y: hidden;
}

.heading {
    font-size: 24px;
    border-bottom: 3px solid peachpuff;
}

.heading ul, .list ul {
    display: grid;
    grid-template-columns: repeat(2, 3fr) 2fr 1fr;
    list-style: none;
    color: #fff;
}


/* LIST TABELLA FANTASMA */
.list {
    height: 90%;
    margin-top: 40px;
    font-size: 21px;
    text-transform: capitalize;
    overflow-y: auto;
}

li {
    position: relative;
    padding: 10px;
}

.list ul li:last-child {
    text-align: center;
    
}
.list ul:nth-child(odd) {
    background-color: rgba(255, 218, 185, 0.5);
    color: rgb(0, 0, 0);
}

.color {
    margin-top:8px;
    margin-bottom: 8px;
}


/* MEDIA QUERY */
@media (max-width: 991px) {
    #confirm.active {
    top: 4%;
    left: 11%;
    width: 78%;
    font-size: 14px;
    }
    .container .formBx form, .form {
        width: 100%;
        max-width: 500px;
        padding: 0;
    }
    .container .formBx, .flex-col {
        width: 100%;
        padding: 0 50px;
    }
    .container .img {
        display: none;
    }
    .flex-col {
        flex-direction: column;  
        align-items: center;
    }
    .container .formBx.small {
        padding: 0;
    }
    .flex-col h2 {
        margin: 40px 0;
    }
    .formBx .form .inputBox input[type="submit"] {
        width: 160px;
    }
    .box.table {
        width: 100%;
        max-height: 287px;
        padding: 0px;
    }
    .list {
        height: 68%;
        font-size: 16px;
    }   
}


@media (max-width: 400px) {
    .container {
        height: 400px;
    }
    .spaceB {
        margin-top: 40px;
    }
    #confirm.active {
    top: -39px;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    }
    #confirm i {   
        top: 15px;
        right: 28px;
    }
    .container .formBx {
        align-items: flex-start;
        margin-top:20px;
        padding: 0 20px;
    }
    .flex-col {
    padding: 0 20px;
    }
    .inputBox input[type="submit"] {
          font-size: 14px;
      }
    .form h2, .list ul .color, .heading ul li:last-child {
        display: none;
    }
    .box.table .heading {
        font-size: 20px;
    }
    .list ul, .heading ul {
        grid-template-columns: 3fr 3fr 1fr;
    }
}
