* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0d192e;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1100px;
    margin: 20px;
    height: 600px;
    background: #122647;
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.container .formBx {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formBx.small {
    width: 25%;
}
.container .formBx form, .form {
    position: relative;
    width: 100%;
    padding: 0 0 0 75px;
}

h2 {
    color: #fff;
    font-weight: 500;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.form h2 {
    margin-bottom: 100px;
}
.inputBox {
     position: relative;
     margin-bottom: 40px;
 }

.container .formBx form .inputBox:last-child {
    margin-bottom: 0px;
}

input, select {
    position: relative;
    background: transparent;
    outline: none;
    border: none;
    width: 100%;
    color: #fff;
    padding-bottom: 10px;
    font-size:16px;
    letter-spacing: 1px;
    font-weight: 300;
    border-bottom: 2px solid rgba(255,255,255,0.5);
}

select {
    color: rgba(255,255,255,0.5);
}
select:active, select:focus{
    background-color: #122647;
    color: #fff;
}

.container .formBx form .inputBox input[type="submit"] {
    background: peachpuff;
    padding: 8px 20px;
    margin-top: -10px;
    /* width: 100px; */
    cursor: pointer;
    color: rgb(201, 42, 21);
    font-size: 18px;
    font-weight: 400 ;
    border: none;
    text-transform: uppercase;
    letter-spacing: 4px;
}
  
.container .formBx form .inputBox input[type="submit"]:focus {
    background: #1bfaad ;
    color: #111;
}

.container .formBx .form .inputBox input[type="submit"] {
    background: peachpuff;
    padding: 8px 20px;
    margin-top: -10px;
    width: 100%;
    cursor: pointer;
    color: rgb(201, 42, 21);
    font-size: 18px;
    font-weight: 400 ;
    border: none;
    text-transform: uppercase;
    letter-spacing: 4px;
}
  
.container .formBx .form .inputBox input[type="submit"]:focus {
    background: #1bfaad ;
    color: #111;
}
span {
    position: absolute;
    left: 0;
    font-size: 16px;
    font-weight: 300;
    display: inline-block;
    pointer-events: none;
    letter-spacing: 1px;
    color: rgba(255,255,255,0.5);
    transition: all 0.2s;
}

 input:focus ~ span,
 input:valid ~ span {
    transform: translateY(-24px);
    color:  #1bfaad;
    font-size: 14px;
}

.inputBox input:focus ,
.inputBox input:valid,
select:focus {
    border-bottom-color: #fff;
}

.imgBx {
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.imgBx.big {
    padding: 60px 40px 60px 180px;
    width: 75%;
    max-height: 520px;
    overflow-y: hidden;
}
.img:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 218, 185, .4);
    transform-origin: bottom;
    transform: skewX(-25deg) translateX(10%);
    
}

.imgBx img {
    position: absolute;
    bottom: 0;
    width: 118%;
    max-height: 95%;
}

.heading {
    border-bottom: 3px solid peachpuff;
    font-size: 24px;
}
.heading ul, .list ul {
    display: grid;
    grid-template-columns: repeat(2, 3fr) 2fr 1fr;
    list-style: none;
    color: #fff;
}

.color {
    margin-top:8px;
    margin-bottom: 8px;
    background-color: pink;
}
.list ul li:last-child {
    text-align: center;
    /* font-size: 20px; */
}
.list ul:nth-child(odd) {
    background-color: rgba(255, 218, 185, 0.5);
    color: rgb(0, 0, 0);
}
.list {
    margin-top: 40px;
    font-size: 18px;
    line-height: 2.5;
    height: 100%;
    overflow-y: auto;
}
li {
    position: relative;
}
.list span  {
    float: right;
}
@media (max-width: 991px) {
    .container .formBx {
        width: 100%;
        padding: 0 50px;
    }
    .container .formBx form, .form {
        width: 100%;
        max-width: 500px;
        padding: 0;
    }
    .container .imgBx {
        display: none;
    }
}
